/********** TABS **********/
.tab-list {
  margin: 0;
  padding: 5px 3px 0px 3px;}

.tab-list li {
  display: inline-block;
  list-style-type: none;
/*  background-color: #303030;*/
/*  background: rgba(0,0,0,0.2);*/
/*  border-bottom: 3px solid #858585;*/
  font-family: 'Jacques Francois', serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
    color: #093a58;
/*    background: linear-gradient(to bottom, rgba(108, 100, 100, 0.3) 6%, rgba(19,43,102, .85) 100%);*/
    background: rgba(12,0,0,0.3);
    background: silver;
/*    border-radius: 5px;*/
}

.tab-list li a {
  color: #093a58;
  color: #666;
  display: block;
/*  padding: 3px 10px;*/
    min-width: 80px;
    text-align: center;
}


/********** HOVER STATES **********/
.tab-list li.active, .tab-list li.hover {
/*  background-color: #e5e5e5;*/
    background: rgba(0,0,0,0.2);
    background: rgba(12,0,0,0.3);
    background: cyan;
    background: rgba(255, 248, 220, 0.9);
/*  border-bottom: 3px solid #e5e5e5;*/
}

.tab-list li.active a, .tab-list li a:hover {
  color: #fff;
/*  background-color: #e5e5e5;*/
     background: rgba(0,0,0,0.2);
    background: rgba(12,0,0,0.3);
/*    border-bottom: 3px solid #858585;*/
    border-bottom: 3px solid cyan;
    border-bottom: 2px solid cornsilk;
/*    border-bottom: 3px solid silver;*/
}


/********** PANELS **********/
.tab-panel {
  display: none;
/*     background: rgba(0,0,0,0.2);*/
  color: cornsilk;
    font-size: 1.03em;
/*  min-height: 150px;*/
  overflow: auto;


}

.tab-panel.active {
  display: block;}

.tab-panel p {
  margin: 20px;
}
